* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  margin: 0 auto;
  gap: 3rem;
  max-width: 1300px;
}

h1 {
  margin: 1%;
  text-align: center;
}

.board {
  width: 800px;
  height: 800px;
  display: grid;
  background-color: #fefefe;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.board div {
  user-select: none;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.buttons > button {
  padding: 5px 10px;
}

button {
  cursor: pointer;
}

#color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
}

#color-picker::-webkit-color-swatch {
  border-radius: 50%;
}

#color-picker::-moz-color-swatch {
  border-radius: 50%;
}
